/*=========================================================================
  GENERAL
=========================================================================*/
* {box-sizing: border-box}
*::before {box-sizing: border-box}
*::after {box-sizing: border-box}

body {
  margin: 0px;
  min-width: 1000px;
  overflow-x: hidden;
}

a { text-decoration: none; }

button { outline: none; }

/*=========================================================================
  NAVIGATION
=========================================================================*/

nav.top {
  width: 100%;
  height: 100px;
}

nav figure {
  margin: 0px;
}

h1.logo {
  color: #4e5ed4;
  font-family: 'Poppins', sans-serif;
  font-size: 46px;
  margin: 0px;
  position: absolute;
  top: calc(50px - 34.5px);
  left: 7.5vw;
}

nav.top ul {
  position: absolute;
  right: 15vw;
  top: calc(50px - 12px);
  margin: 0px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
}

nav.top ul li {
  list-style: none;
  display: inline;
  position: relative;
}

nav.top ul li::before {
  position: absolute;
  content: "\0020";
  width: 8px;
  height: 8px;
  border-radius: 50%;

  left: calc(50% - 4px);
  top: calc(50% - 4px);

  background: #00da97;
  opacity: 0;

  transition: all 250ms;
}

nav.top ul li:nth-child(8)::before { background: red; }

nav.top ul li:nth-child(8):hover::before { top: calc(50% - 4px - 20px); }

nav.top ul li:nth-child(7)::before { background: transparent; }

nav.top ul li:hover::before {
  top: calc(50% - 4px + 14px);
  opacity: 1;
}

nav.top ul a { color: #dadada; }

nav.top ul li:nth-child(7):hover a { color: white; }

nav.top ul a.active { color: white; }

nav.top ul li + li { margin-left: 25px; }

.lnr-cart::before {
  color: white;
  content: "\e82e";
  font-size: 18px;
}

.lnr-magnifier::before {
  content: "\e86f";
  font-size: 18px;
}

/*=========================================================================
  HEADER
=========================================================================*/
header {
  position: relative;
  height: calc(58vw * 1.1);
  overflow: hidden;
}

header img {
  position: absolute;
  right: 0px;
   height: 100vh;
  display: block;
}


header h2 {
  font-family: 'Poppins', serif;
  font-weight: bold;
  position: relative;
  float: left;
  margin-top: 211px;
  margin-left: 15vw;
  margin-bottom: 20px;
  color: #2c3238;
  font-size: 50px;
}

header h2::before {
  content: "\0020";
  display: block;
  width: 50px;
  height: 2px;
  position: absolute;
  top: -20px;
  border: solid 2px #2196f3; 
  background-image: linear-gradient(to top, #08aeea, #2af598);
}

header h3 {
  font-family: 'Rubik', serif;
  font-weight: 400;
  color: #2c3238;
  font-size: 28px;
  clear: both;
  float: left;
  margin-top: 0px;
  margin-left: 15vw;
  
}

header span {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
}

.iphone {
  float: right;
  margin: 0px;
  overflow: hidden;
  height: 75vh;
  width: calc((768px/372px)*75vh);
  margin-top: 200px; 
  margin-bottom: 240px;
  top: 0px;
  right: 15vw;
  background-size: cover;
  box-shadow: 0 0 75px rgba(90, 88, 150, 0.7);
  border-radius: 40px;
}

header button {
  width: 200px;
  height: 60px;
  border-radius: 4px;
  position: absolute;
  top: 600px;

  font-family: 'Rubik', sans-serif;
  font-size: 21.5px;
  border: solid 1px #2c3238;
  color: #2c3238;
  transition: all 250ms;
}

header button:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
}

.apple { left: 15vw; }

.google { left: calc(15vw + 200px + 20px); }

/*=========================================================================
  CALL TO ACTION
=========================================================================*/
.call-to-action { text-align: center; }

.call-to-action h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #2c3238;
  font-size: 28px;
  text-align: center;
  position: relative;
  margin-bottom: 90px;
}

.call-to-action h3::before {
  content: "\0020";
  display: block;
  width: 50px;
  height: 2px;
  border: solid 2px #2196f3;
  background-color: #2196f3;
  position: absolute;
  top: -20px;
  left: calc((100vw - 50px) / 2);
}

.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #e4f2ff;
  position: absolute;
  top: 50px;
  left: calc((370px - 300px) / 2);
}

.circle span {
  font-size: 25px;
  position: absolute;
  top: calc((65px - 25px) / 2);
  left: calc((65px - 25px) / 2);
  color: #72adfe;
}

.call-to-action article {
  float: left;
  width: 370px;
  height: 350px;
  margin-right: calc((70vw - (3 * 370px)) / 2);
  margin-bottom: 100px;
  background-color: white;
  text-align: center;
  position: relative;
  
  animation-name: anim-CTA-back;
  animation-fill-mode: both;
  animation-duration: 500ms;
}

.call-to-action article:hover {
  animation-name: anim-CTA;
  animation-fill-mode: both;
}

@keyframes anim-CTA {
  from {
    border-radius:0px;
    box-shadow: 0px 0px 30px 0 transparent;
  }
  to {
    border-radius: 7px;
    box-shadow: 0px 0px 30px 0 rgba(228, 232, 239, 0.9);
  }
}

@keyframes anim-CTA-back {
  from {
    border-radius: 7px;
    box-shadow: 0px 0px 30px 0 rgba(228, 232, 239, 0.9);
  }
  to {
    border-radius:0px;
    box-shadow: 0px 0px 30px 0 transparent;
  }
}

.call-to-action article:hover::after { opacity: 1; }

.call-to-action article::after {
  font-family: 'Linearicons-Free';
  content: "\e87a";
  font-size: 20px;
  position: absolute;
  right: 35px;
  bottom:30px;
  display: inline-block;

  opacity: 0;
  color: #72adfe;
  transition: all 500ms;
}


.call-to-action article h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 22px;
  margin: 0px;
  margin-top: calc((350px - 22px) / 2);
  color: #2c3238;
  text-align: left;
  padding-left: calc((370px - 300px) / 2);
}

.call-to-action article h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 300px;
  margin: 14px 0px;
  color: #6f7982;
  text-align: left;
  display: inline-block;
}

.call-to-action-first-article { margin-left: 15vw; }

.call-to-action article button {
  width: 350px;
  height: 370px;
  border: none;
  background-color: white;
}

.call-to-action p {
  text-align: center;
  margin: 0px;
  clear: both;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: #6f7982;
  font-size: 14px;
  line-height: 28px;
}

.call-to-action p span {
  color: #2c3238;
  font-weight: 500;
}

.start-button {
  margin: 70px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2196f3;
  display: inline-block;
  position: relative;
}

.start-button::before {
  position: absolute;
  top: calc((22px - 14px) / 2);
  right: -30px;
  font-family: 'Linearicons-Free';
  content: "\e87a";
  font-size: 16px;
  color: #2196f3;
  opacity: 0;
  transition: all 250ms;
}

.start-button:hover::before {
  opacity: 1;
  animation-name: lToR;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes lToR {
  from { right: -30px; }
  to { right: -35px; }
}

/*=========================================================================
  DEMO
=========================================================================*/
.demo {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 1100px;
}

.demo .background,
.demo h3,
.demo p,
.demo a,
.demo .purple,
.demo .green,
.demo .blue,
.demo .start-button { position: absolute; }

.demo .background {
  z-index: 0;
  top: 0px;
  left: 0px;
}

.demo .blue {
  z-index: 1;
  top: 130px;
  left: 11.5vw;
  width: 270px;
  height: auto;
  transition: all 8s;
}

.demo .purple {
  z-index: 2;
  top: 200px;
  left: calc(11.5vw + 150px);
  width: 570px;
  height: auto;
  border-radius: 7px;
  box-shadow: 0px 15px 70px 0 rgba(0, 0, 0, 0.35);
  transition: all 8s;
}

.demo .green {
  z-index: 3;
  top: 60px;
  left: calc(11.5vw + 320px);
  width: 370px;
  height: auto;
  border-radius: 11px;
  box-shadow: 0px 15px 70px 0 rgba(80, 171, 126, 0.5);
  transition: all 8s;
}

.demo figure:hover .blue {
  transform: scale(0.9) translateX(-15px) translateY(-10px);
}

.demo figure:hover .green {
  transform: scale(1.05) translateX(20px) translateY(-12px);
}

.demo figure:hover .purple {
  transform: scale(1.0) translateX(10px) translateY(10px);
}

.demo h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-align: left;

  top: 170px;
  left: 1073px;
  width: 340px;
  height: 65px;

  color: #2c3238;
}

.demo p {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  left: 1073px;
  top: 300px;
  width: 465px;
  height: 130px;

  color: #6f7982;
}

.demo p span {
  font-weight: bold;
  color: #2c3238;
}

.demo a {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;

  top: 520px;
  left: 1073px;
  width: 150px;
  height: 40px;
}

.demo a button {
  font-size: 16px;

  width: 150px;
  height: 40px;
  border-radius: 4px;

  border: solid 1px #2c3238;
  color: #2c3238;

  transition: all 250ms;
}

.demo a button:hover {
  background-color: #604def;
  border-color: #604def;
  color: white;
}


/*=========================================================================
  team
=========================================================================*/

.team {
  position: relative;
  text-align: center;

  margin-top: -250px;
}

.team h3::before,
.slider-content::before,
.slider-content h5,
.team button { position: absolute; }

.team h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #2c3238;
  font-size: 28px;
  margin-bottom: 90px;
  display: inline-block;
  width: 700px;
}

.team h3::before {
  content: "\0020";
  display: block;
  width: 50px;
  height: 2px;
  border: solid 2px #2196f3;
  background-color: #2196f3;
  top: -20px;
  left: calc((100vw - 50px) / 2);
}

.team > div {
  width: 100%;
  height: 400px;
  position: relative;
}

.slider-content {
  width: 770px;
  height: 100%;
  margin: 0 auto;
  border-radius: 7px;
  background: white;
  position: relative;
  box-shadow: 0px 0px 30px 0 rgba(228, 232, 239, 0.9);
}

.slider-content > .text-button { color: #604def; }

.slider-content > .text-button::before { color: #604def; }

.slider-content::before {
  content: "\0020";
  width: 80px;
  height: 80px;
  border-radius: 50%;

  top: -40px;
  left: calc((100% - 80px) / 2);
  background: #cccccc;
}

.slider-content h4 {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;

  width: 320px;
  height: 40px;

  margin: 0 auto;
  padding-top: 70px;

  color: #2c3238;
}

.slider-content h4 span { color: #6f7982; }

.slider-content h5 {
  color: #6f7982;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  width: 560px;
  margin: 80px 105px;
}

.slider-content a { margin-top: 230px; }

.team button {
  position: absolute;
  font-size: 36px;
  border-width: 0px;
  background-color: transparent;
  padding: 0px;
  margin-left: -18px;
  color: #dadada;
  transition: all 250ms;
}

.team button:hover { color: #2196f3; }

.team .previous {
  left: 275px;
  top: calc((402px - 36px) / 2);
}

.team .next {
  right: 275px;
  top: calc((402px - 36px) / 2);
}

.text-button {
  margin: 70px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #2196f3;
  display: inline-block;
  position: relative;
}

.text-button::before {
  position: absolute;
  top: calc((22px - 14px) / 2);
  right: -30px;
  font-family: 'Linearicons-Free';
  content: "\e87a";
  font-size: 16px;
  color: #2196f3;
  opacity: 0;
  transition: all 250ms;
}

.text-button:hover::before {
  opacity: 1;
  animation-name: lToR;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.team ul {
  margin-top: 75px;
  margin-bottom: 150px;
}

.team ul li {
  display: inline-block;
  width: 140px;
  margin: 0px 30px;
  transition: all 0.2s;
}

.team ul:hover li { opacity: 0.5; }

.team ul:hover li:hover {
  opacity: 1;
  transform: scale(1.05)
}


/*=========================================================================
  VIDEO
=========================================================================*/
.video .background,
.video h3,
.video p,
.video a,
.video .video-player,
.video-player .circle1,
.video-player .circle2,
.video-player .circle3,
.video-player .circle4,
.video-player button { position: absolute; }

.video {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video .background {
  z-index: 0;
  top: 0px;
  right: -8vw;
  transform: scaleX(-1);
}

.video h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-align: left;

  top: 170px;
  left: 10vw;
  height: 65px;

  color: #2c3238;
}

.video p {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  left: 10vw;
  top: 300px;
  height: 130px;

  color: #6f7982;
}

.video p span {
  font-weight: bold;
  color: #2c3238;
}

.video a {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;

  top: 520px;
  left: 10vw;
  width: 150px;
  height: 40px;
}

.video a button {
  font-size: 16px;

  width: 150px;
  height: 40px;
  border-radius: 4px;

  border: solid 1px #2c3238;
  color: #2c3238;

  transition: all 250ms;
}

.video a button:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
}

.video-player {
  width: 648px;
  height: 486px;
  border-radius: 7px;
  box-shadow: 0px 15px 70px 0 rgba(0, 0, 0, 0.35);
  background-color: #9a96a2;

  right: 10vw;
  top: 90px;
}

.video-player .circle1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  margin: 0;

  left: calc((250px - 80px)/-2);
  top: calc((250px - 80px)/-2);

  color: transparent;
  opacity: 0;
}

.video-player .circle2 {
  width: 190px;
  height: 190px;
  border-radius: 50%;

  margin: 0;

  left: calc((190px - 80px)/-2);
  top: calc((190px - 80px)/-2);

  color: transparent;
  opacity: 0;
}

.video-player .circle3 {
  width: 150px;
  height: 150px;
  border-radius: 50%;

  margin: 0;

  left: calc((150px - 80px)/-2);
  top: calc((150px - 80px)/-2);

  color: transparent;
  opacity: 0;
}

.video-player .circle4 {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  border: 0;

  left: calc((120px - 80px)/-2);
  top: calc((120px - 80px)/-2);

  color: transparent;
  opacity: 0;
}

.video-player button {
  outline: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0;
  border: 0;

  left: calc((648px - 80px) / 2);
  top: calc((486px - 80px) / 2);

  background: white;
}

@keyframes wave4 {
  0% { opacity: 0; }

  25% { opacity: 0.4; }

  50% {
    border: 1px solid white;
    opacity: 0.8;
  }

  75% { opacity: 0.6; }

  100% { opacity: 0; }
}

@keyframes wave3 {
  0% { opacity: 0; }

  25% { opacity: 0.35; }

  50% {
    border: 1px solid white;
    opacity: 0.7;
  }

  75% { opacity: 0.42; }

  100% { opacity: 0; }
}

@keyframes wave2 {
  0% { opacity: 0; }

  25% { opacity: 0.25; }

  50% {
    border: 1px solid white;
    opacity: 0.5;
  }

  75% { opacity: 0.3; }

  100% { opacity: 0; }
}

@keyframes wave1 {
  0% { opacity: 0; }

  25% { opacity: 0.15; }

  50% {
    border: 1px solid white;
    opacity: 0.3;
  }

  75% { opacity: 0.2; }

  100% { opacity: 0; }
}

.video .video-player button:focus .circle4 {
  animation-name: wave4;
  animation-duration: 500ms;
  animation-delay: 0ms;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.5, 0.1);
}

.video .video-player button:focus .circle3 {
  animation-name: wave3;
  animation-duration: 500ms;
  animation-delay: 75ms;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.5, 0.1);
}

.video .video-player button:focus .circle2 {
  animation-name: wave2;
  animation-duration: 500ms;
  animation-delay: 100ms;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.5, 0.1);
}

.video .video-player button:focus .circle1 {
  animation-name: wave1;
  animation-duration: 500ms;
  animation-delay: 175ms;
  animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.5, 0.1);
}

.video-player button .arrow-play {
  position: absolute;
    width: 0;
    height: 0;

    top: calc((80px - 15px) / 2);
    left: calc((80px - 15px) / 2);

    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 15px solid #2196f3;
}

/*=========================================================================
  Prix
=========================================================================*/

.contact-sales,
.contact-sales ul li::before,
.prix .contact-sales::before,
.prix .rounded-rect span,
.small { position: absolute; }

.prix {
  position: relative;
  width: 100%;
  height: 50vh;
  
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  
  color: #2c3238;
}

.prix h3 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: -170px;
  margin-bottom: 75px;
}

.prix .price {
  font-size: 52px;
  padding-left: 35px;
}

.prix .contact-sales .choice {
  font-size: 17px;
  padding-left: 35px;
}

.prix .choice {
  font-size: 17px;
  color: black;
}

.contact-sales ul li {
  list-style: none;
  padding-left: 35px;
}

.contact-sales ul li::before {
  left: 50px;

  content: url("asset/image/vu-icon.png");
}

.prix ul li {
  font-size: 14px;
  margin-bottom: 10px;
}

.prix .contact-sales {
  width: 370px;
  height: 350px;
  left: 15vw;

  color: black;

  animation-name: anim-CTA-back;
  animation-fill-mode: both;
  animation-duration: 500ms;
}

.prix .contact-sales:hover {
  animation-name: anim-CTA;
  animation-fill-mode: both;
}

.prix .contact-sales::before {
  top: 304px;
  left: 192px;

  font-size: 22px;

  opacity: 0;

  content: "Contact Sales";

  color: #2196f3;

  transition: all 500ms;
}

.prix .contact-sales:hover::before { opacity: 1; }

.prix .small {
  width: 300px;
  height: 170px;

  text-align: center;

  animation-name: anim-CTA-back;
  animation-fill-mode: both;
  animation-duration: 500ms;

  transition: all 500ms;
}

.prix .small:hover {
  animation-name: anim-CTA;
  animation-fill-mode: both;

  background-color: white;
}

@keyframes spinner {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-360deg); }
}

.prix .small div { padding-top: calc((170px - 124px) / 2); }

.prix .small:hover .rounded-rect {
  animation-name: spinner;
  animation-duration: 500ms;
}

.prix .small-right { left: calc((100vw - 300px) / 2); }

.prix .small-left { right: 15vw; }

.prix .small-down {
  top: calc(97px + 170px + 10px);
}

.prix .rounded-rect {
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 auto;
  position: relative;

  border-radius: 10px;

  background: #2196f3;
  color: white;

  font-size: 17px;
}

.prix .rounded-rect span {
  left: calc((32px - 17px) / 2);
  top: calc((32px - 17px) / 2);
}

.prix .content {
  font-size: 14px;
  color: #6f7982;
}

/*=========================================================================
  FOOTER
=========================================================================*/

.info {
  position: relative;
  clear: both;
  height: 450px;
  width: 100%;
  background-image: linear-gradient(to top, #3f559e, #3e68b9);
  margin: 0px;
  margin-top: 50px;
  color: white;
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;

  overflow: hidden;
}

.info .bg {
  position: absolute;
  z-index: 0;
  left: -140px;
  top: 26px;
  opacity: 0.04;
}

.info ul {
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0px;
  margin-right: 100px;
  float: left;
  padding-top: calc(225px - 88px);
}

ul.firstList { padding-left: 15vw; }

ul .title { margin-bottom: 17.5px; }

.info ul li {
  font-size: 16px;
  line-height: 36px;
}

ul.lastList { margin-right: 0px; }

.info ul li:first-child {
  font-size: 14px;
  line-height: 22px;
}

.info ul a { color: white; }

.title { text-transform: uppercase; }

.newsletter {
  height: 200px;
  width: 470px;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  float: right;
  margin-right: 15%;
  margin-top: calc(225px - 100px);
  padding-left: 30px;
  padding-right: 30px;
}

.newsletter h3 {
  color: #00da97;
  font-size: 14px;
  margin: 0px;
  text-transform: uppercase;
  padding-top: 30px;
}

.newsletter p {
  font-size: 16px;
  margin: 30px 0px;
}

.newsletter form input {
  height: 40px;
  border-radius: 4px;
  border-width: 0px;
  background-color: #ffffff;
  width: 250px;

  padding-left: 10px;
  font-size: 16px;
}

input::placeholder {
  font-size: 16px;
  color: rgba(90, 88, 88, 0.575)
}

.newsletter form button {
  height: 40px;
  background: #00da97;
  color: white;
  border-radius: 5px;
  border-width: 0px;
  width: 140px;
  margin-left: 10px;
  font-size: 16px;
}

footer { height: 100px; }

.subfooter p {
  color: #8a99c0;
  float: left;
  width: 33%;
  
  font-family: 'Rubik', sans-serif;
  font-size: 14px;

  margin: 0px;
  padding-top: calc(50px - 7px);
  padding-left: 50px;
}

.subfooter > figure {
  float: left;
  width: 33%;
  text-align: center;
  margin: 0px;
  padding-top: calc(50px - 22px);
}

.subfooter ul {
  float: right;
  margin: 0px;
  padding-top: calc(50px - 7.5px);
}

.subfooter ul li {
  display: inline;
  list-style: none;
}

.subfooter ul li { padding-right: 20px; }

.subfooter ul li:last-child { padding-right: 50px; }

p > a { color: #8a99c0; font-weight: bold; }

/*=========================================================================
  FONT ICON
=========================================================================*/

 @font-face {
  font-family: 'icomoon';
  src:  url('asset/font/icomoon.eot?d440dl');
  src:  url('asset/font/icomoon.eot?d440dl#iefix') format('embedded-opentype'),
    url('asset/font/icomoon.ttf?d440dl') format('truetype'),
    url('asset/font/icomoon.woff?d440dl') format('woff'),
    url('asset/font/icomoon.svg?d440dl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-appleinc::before {
  content: "\eabe";
  padding-right: 10px;
  font-size: 25px;
}

.fa-google-play {
  padding-right: 10px;
}

/*
LINEAR ICONS
*/
@font-face {
	font-family: 'Linearicons-Free';
	src:url('asset/font/Linearicons-Free.eot?w118d');
	src:url('asset/font/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('asset/font/Linearicons-Free.woff2?w118d') format('woff2'),
		url('asset/font/Linearicons-Free.woff?w118d') format('woff'),
		url('asset/font/Linearicons-Free.ttf?w118d') format('truetype'),
		url('asset/font/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lnr {
	font-family: 'Linearicons-Free';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.lnr-apartment::before {
	content: "\e801";
}

.lnr-user::before {
  content: "\e82a";
}

.lnr-select:before {
  content: "\e852";
}

.lnr-arrow-right::before {
	content: "\e87a";
}

.lnr-bullhorn::before {
  content: "\e859";
}

.lnr-chevron-left-circle::before {
	content: "\e889";
}
.lnr-chevron-right-circle::before {
	content: "\e88a";
}
